/*SFONDO*/
.chat-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.img-sfondo-chat{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}
/*BARRA*/
.barra{
   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: rgb(19, 6, 31);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 10;
}
/*TITOLO*/
.titolo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -0.5em;
  font-size: 3rem;
  color: white;
}

/*LOGO*/
.img-logo{
  margin-top: 0.6em;
    margin-left: 0.5em;
    width: auto;
  height:3rem;
}
/*CHAT FRAME*/
.frame-chat{
  position: absolute;
  top: 10rem;
  left: 15rem;
  right: 15rem;
  height: 70vh;
  background-color: rgb(19, 6, 31);
  border-radius: 20px;
  z-index: 12;
}