/*SFONDO*/
.chat-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.img-sfondo-chat{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}
/*BARRA*/
.barra{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:5rem;
  background-color: rgb(19, 6, 31);
  z-index: 10;
}
/*TITOLO*/
.titolo {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-top: 0.3em;
  z-index: 11;
  position: relative;
}

/*LOGO*/
.logo {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  height: 5rem;
  z-index: 12;
}

.img-logo {
  height: 4rem;
  width: auto;
}

/*CHAT FRAME*/
.frame-chat{
  position: absolute;
  top: 10rem;
  left: 15rem;
  right: 15rem;
  height: 70vh;
  background-color: rgb(19, 6, 31);
  border-radius: 20px;
  z-index: 12;
}