/*SFONDO*/
.chat-background {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.img-sfondo-chat{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
}
/*BARRA*/
.barra{
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:5rem;
  background-color: rgb(19, 6, 31);
  z-index: 10;
}
/*TITOLO*/
.titolo {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-top: 0.3em;
  z-index: 11;
  position: relative;
}

/*LOGO*/
.logo {
  position: absolute;
  top: 1em;
  left: 3em;
  height: 5rem;
  z-index: 12;
}

.img-logo {
  height: 3rem;
  width: auto;
}
.utente {
  position: absolute;
  top: 0em;
  left: 3.5em;
  height: 5rem;
  color: #ffffff;
  z-index: 12;
  width: 220px
}
/*CHAT FRAME*/
.frame-chat{
  position: absolute;
  top: 10rem;
  left: 15rem;
  right: 15rem;
  height: 70vh;
  background-color: rgb(19, 6, 31);
  border-radius: 20px;
  z-index: 12;

  
}

.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
  height: 40px;
  padding: 0 10px;
  background-color: rgb(19, 6, 31);
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  box-sizing: border-box;
  margin: 63vh auto;
}

.fileUploadWrapper {
  flex: 0 0 auto;
}

.fileUploadWrapper input[type="file"] {
  display: none; /* NASCONDI input file reale */
}

.fileUploadWrapper label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fileUploadWrapper label svg {
  height: 24px;
  width: 24px;
}

#messageInput {
  flex: 1; /* prende tutto lo spazio disponibile */
  height: 100%;
  margin: 0 10px;
  padding: 0 10px;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  box-sizing: border-box;
}

#sendButton {
  flex: 0 0 auto; /* dimensione fissa */
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#sendButton svg {
  height: 24px;
  width: 24px;
}

.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #000;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}
#messageInput {
  width: 200px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}
#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 10px;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

@media all and (max-width: 768px) {
  .frame-chat {
    left: 5rem;
    right: 5rem;
  }
  .message {
    width: 100%;
    margin: 63vh auto;
  }
}